@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600;800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  @responsive {

    // .border-transition {
    //   display: inline-block;
    // }

    // .border-transition:after {
    //   display: block;
    //   content: '';
    //   border-bottom: solid 2px black;
    //   transform: scaleX(0);
    //   transition: transform 250ms ease-in-out;
    // }

    // .border-transition:hover:after {
    //   transform: scaleX(1);
    // }
  }

  // .home-text{
  //   animation: slide-left 2.8s;
  // }

  // .border-home {
  //   animation: slide-right 2.8s;
  // }

  // @keyframes slide-left {
  //   from {
  //     margin-left: 80%;
  //     width: 70%; 
  //   }

  //   to {
  //     margin-left: 0%;
  //     width: 70%;
  //   }
  // }
  // @keyframes slide-right {
  //   from {
  //     margin-left: -80%;
  //     width: 65%; 
  //   }

  //   to {
  //     margin-right: -0%;
  //     width: 65%;
  //   }
  // }

}

#root {
  display: grid;
  grid-template-rows: 5rem 1fr;
}