@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Gloock&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
    box-sizing: border-box;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  @responsive {

  .crimson-font {
    font-family: "Crimson text", serif;  
    font-weight: 900;
    font-style: italic;
  }

  .poppins-font {
    font-family: "Poppins", sans-serif;
    
  }

    // .border-transition {
    //   display: inline-block;
    // }

    // .border-transition:after {
    //   display: block;
    //   content: '';
    //   border-bottom: solid 2px black;
    //   transform: scaleX(0);
    //   transition: transform 250ms ease-in-out;
    // }

    // .border-transition:hover:after {
    //   transform: scaleX(1);
    // }
  }

  // .home-text{
  //   animation: slide-left 2.8s;
  // }

  // .border-home {
  //   animation: slide-right 2.8s;
  // }

  // @keyframes slide-left {
  //   from {
  //     margin-left: 80%;
  //     width: 70%; 
  //   }

  //   to {
  //     margin-left: 0%;
  //     width: 70%;
  //   }
  // }
  // @keyframes slide-right {
  //   from {
  //     margin-left: -80%;
  //     width: 65%; 
  //   }

  //   to {
  //     margin-right: -0%;
  //     width: 65%;
  //   }
  // }

}

#root {
  display: grid;
  grid-template-rows: 5rem 1fr;
}

